<div class="modal" id="{{id}}">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-label="{{title}} modal">
      <div class="modal__header">
        <a href="#" role="button" class="modal__close" aria-label="Close modal" data-micromodal-close>
          <span class="icon-Close_Icon" aria-hidden="true"></span>
        </a>
      </div>
      <div class="modal__content" id="{{id}}-content">
        <div class="modal__content-top">
          {% if image %}
            <div class="modal__image">
              {% set image = Image(image) %}
              <img src="{{image.src}}" alt="{{image.alt}}">
            </div>
          {% endif %}
          <div class="modal__subject-info">
            <div class="modal__heading">
              <h2 class="h4 modal__title">{{title}}</h2>
              {% if subtitle %}
                <div class="modal__subtitle">{{subtitle}}</div>
              {% endif %}
            </div>
            {% if website %}
              <a href="{{website}}" class="fancy-link">Visit Website</a>
            {% endif %}
          </div>
        </div>
        <div class="modal__content-body">
          {{ body }}
        </div>
      </div>
    </div>
  </div>
</div>