{% if content %}
  <div class="cta-panel">
    {% if content.panels %}
      <ul class="cta-panel__ctas">
        {% for panel in content.panels %}
          <li>
            <a href="{{ panel.url }}" class="cta-panel__cta" tabindex="0">
              <div class="cta-panel__cta-content">
                {% if panel.title %}
                  <span class="cta-panel__cta-title">{{ panel.title }}</span>
                {% endif %}
                {% if panel.text %}
                  <span class="cta-panel__cta-body">{{ panel.text }}</span>
                {% endif %}
              </div>
              <span class="icon icon-Chevron_Right" aria-hidden="true"></span>
            </a>
            {% if panel.image %}
              <div class="cta-panel__image">
                <img src="{{ panel.image.url }}" alt="{{ panel.image.alt }}">
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endif %}