<div class="image-cta{% if content.featured %} image-cta--featured{% endif %}">
  {% if content.image %}
    <div class="image-cta__image">
      <img src="{{ content.image.url }}" alt="{{ content.image.alt }}">
    </div>
  {% endif %}
  <div class="image-cta__content">
    {% if content.title %}
      <h2 class="image-cta__title">{{ content.title }}</h2>
    {% endif %}
    {% if content.text %}
      <div class="image-cta__body">
        {{ content.text }}
      </div>
    {% endif %}
    {% if content.link %}
      {% include "helpers/link.twig" with {'link': content.link, 'class': 'button button--green'} %}
    {% endif %}
  </div>
</div>