{% if content %}
  <div class="silc-grid silc-mbottom--64-800">
    <div class="silc-grid__col silc-grid__col--4-800">
      <div class="editor-output silc-ptop--16-800">
        {% if content.title %}
          <h3>{{ content.title }}</h3>
        {% endif %}
        {% if content.text %}
          {{ content.text }}
        {% endif %}
      </div>
    </div>
    <div class="silc-grid__col silc-grid__col--8-800">
      {% if content.card %}
        {% include "components/card.twig" with {'content': content.card, 'style': 'horizontal'} %}
      {% endif %}
    </div>
  </div>
{% endif %}