{% if content %}
  <div class="text-with-icon">
    {% if content.icon %}
      <div class="text-with-icon__icon " aria-hidden="true">
        <img src="{{ content.icon.url }}" alt="">
      </div>
    {% endif %}
    {% if content.title %}
      <div class="text-with-icon__title">{{ content.title }}</div>
    {% endif %}
    {% if content.text %}
      <div class="text-with-icon__body">{{ content.text }}</div>
    {% endif %}
  </div>
{% endif %}