{% if content.url %}
  <figure class="embed">
    <div class="iframe">
      <iframe title="{{ content.title }}" class="iframe__media" src="{{ content.url }}" allowfullscreen></iframe>
    </div>
    {% if content.caption %}
      <figcaption>{{ content.caption }}</figcaption>
    {% endif %}
  </figure>
{% endif %}