{% if content.slides %}
  <div class="carousel-holder">
    <div class="carousel">
      {% for slide in content.slides %}
        <div class="carousel__slide">
          <div class="carousel__slide-image">
            <img src="{{ slide.image.url }}" alt="{{ slide.image.alt }}">
          </div>
          <div class="carousel__slide-content">
            {% if slide.title %}
              <h2 class="carousel__slide-title">{{ slide.title }}</h2>
            {% endif %}
            {% if slide.text %}
              {{ slide.text }}
            {% endif %}
            {% if slide.link %}
              {% include "helpers/link.twig" with {'link': slide.link, 'class': 'carousel__slide-cta'} %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="carousel__nav">
      <div class="carousel__nav-previous" role="button" aria-label="Previous" tabindex="0"></div>
      <div class="carousel__nav-next" role="button" aria-label="Next" tabindex="0"></div>
    </div>
  </div>
{% endif %}